$font-family: "Roboto",sans-serif;
$font-size: 16px;
$html-background-color: rgb(33, 36, 41);
$background-color: radial-gradient(50% 50% at 50% 50%,#fc077d10 0,rgba(255,255,255,0) 100%);
$button-base-text-color: rgb(80, 144, 234);
$button-base-background-color: rgba(21, 61, 111, 0.44);
$button-base-background-color-hover: rgba(21, 61, 111, 0.90);
$background-color-select: rgb(33, 114, 229);
$error-color: red;