.header{
  min-height: 72px;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;

}

@media (max-width:520px) {
  .header .navbar{
    display: none;
  }
}