.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-height: 72px;
  height: 100%;
  flex: 0 0 auto;

  & .navbar{
    display: none;
  }
}

@media (max-width:520px) {
  .footer .navbar {
    display: flex;
  }
}