.navbar{
  background-color: rgb(25, 27, 31);
  padding: 2px;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: fit-content;
  height: fit-content;
}

@media (max-width:830px) {
  .navbar{
    flex-direction: column;
  }
}

